.introduccion{
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin: 3vw 20vw;
    padding: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.grid-container{
    display: grid;
    grid-template-columns: 33% 33% auto;
    gap: 50px;
    background-color:rgb(224, 222, 222);
    padding: 35px;
    justify-content: space-evenly;
}

.grid-container > div {
    background-color: white;
    text-align: center;
    font-weight: 800;
}

.cajita{
    width: 190px;
    height: 95px;
}

.solid{
    border: 5px solid #1e3050;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.dotted{
    border: 5px dotted #1e3050;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.dashed{
    border: 5px dashed #1e3050;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.double{
    border: 5px double #1e3050;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.groove{
    border: 5px groove #1e3050;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.ridge{
    border: 5px ridge #1e3050;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.inset{
    border: 5px inset #1e3050;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.outset{
    border: 5px outset #1e3050;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}